{% extends "base-mta.html" %}
{% load staticfiles %}
{% block title %}Pricing{% endblock %}
{% block content %}

<!-- Pricing -->
<div id="pricing" class="section reg-padding">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Pricing Table</h2>
                <h3>Music Teachers Aid automates scheduling and billing so you can focus on your students.</h3>
            </div>
            <!-- /Section header -->
            <!-- pricing -->
            <div class="col-md-4 col-md-offset-2">
                <div class="pricing">
                    <div class="price-head">
                        <span class="price-title">FREEMIUM</span>
                        <div class="price">
                            <h3>FREE<span class="duration"></span></h3>
                        </div>
                    </div>
                    <ul class="price-content">
                        <li>
                            <p>10 Students</p>
                        </li>
                        <li>
                            <p>Keep Track of Scheduling</p>
                        </li>
                        <li>
                            <p>Manual Payments</p>
                        </li>
                        <li>
                            <p>SSL Encryption</p>
                        </li>
                        <li>
                            <p>Upgrade Anytime</p>
                        </li>
                    </ul>
                    <div class="price-btn">
                        <a href="{% url 'register' %}" class="outline-btn">Sign Up</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="pricing">
                    <div class="price-head">
                        <span class="price-title">PREMIUM</span>
                        <div class="price">
                            <h3>$9.95<span class="duration">/ month</span></h3>
                        </div>
                    </div>
                    <ul class="price-content">
                        <li>
                            <p>Unlimited Students</p>
                        </li>
                        <li>
                            <p>Scheduling Notifications</p>
                        </li>
                        <li>
                            <p>Automate Payments</p>
                        </li>
                        <li>
                            <p>SSL Encryption</p>
                        </li>
                        <li>
                            <p>Cancel Anytime</p>
                        </li>
                    </ul>
                    <div class="price-btn">
                        <a href="{% url 'register' %}" class="outline-btn">Free Trial</a>
                    </div>
                </div>
            </div>
            <!-- /pricing -->
        </div>
        <!-- Row -->
    </div>
    <!-- /Container -->
</div>
<!-- /Pricing -->

{% endblock %}