{% extends "base-mta.html" %}
{% block title %}Privacy{% endblock %}
{% block content %}

<div id="terms" class="container md-padding">
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="section-header text-center">
                <h2 class="title">Privacy Policy</h2>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Privacy Policy</div>
                <div class="panel-body">
                    <p>The security of all data is important to us; in this document, we will explain how we
                        collect, use and protect our customers’ Teachers personal data (as a ‘Data
                        Controller’) and the data we process (as a ‘Data Processor’) on the behalf of others
                        [Students, Parents].</p>

                    <p>We will also explain what rights you have with regards to your personal data and how you can
                        exercise those rights. By using any of the Services above, you hereby agree to the
                        collection and use of information as defined in this Privacy Policy.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}