{% extends "base-mta.html" %}
{% block title %}Terms{% endblock %}
{% block content %}

<div id="terms" class="container md-padding">
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="section-header text-center">
                <h2 class="title">Terms of Service</h2>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Terms of Service</div>
                <div class="panel-body">
                    <p>By using the Music Teacher's Aid website, you are agreeing to be bound by the following
                        terms and conditions (“Terms of Service”).</p>
                    <p>
                        Music Teacher's Aid reserves the right to update and change the Terms of Service from
                        time to time without notice. Any new features that augment or enhance the current Service,
                        including the release of new tools and resources, shall be subject to the Terms of Service.
                        Continued use of the Service after any such changes shall constitute your consent to such
                        changes.</p>

                    <hr/>
                    <h4>Account Terms</h4>
                    <ol>
                        <li>You must provide your legal name, a valid email address, and any other information
                            requested in order to complete the signup process.
                        </li>
                        <li>Your login may only be used by one person. You may create separate logins for as many
                            students as you’d like.
                        </li>
                        <li>You are responsible for maintaining the security of your account and password. Music
                            Teachers Aid cannot and will not be liable for any loss or damage from your failure to
                            protect your login information, including your password.
                        </li>
                        <li>You are responsible for all Content posted and activity that occurs under your account
                            (even when Content is posted by others who have accounts under your account).
                        </li>
                        <li>You may not use the Service for any illegal or unauthorized purpose. You must not, in
                            the use of the Service, violate any laws in your jurisdiction (including but not limited
                            to copyright laws).
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}