{% extends "base-mta.html" %}
{% load staticfiles %}
{% block title %}Logged out{% endblock %}

{% block content %}

<div id="hideNavBar" class="container reg-padding">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <a href="{% url 'home:index' %}">
                <img class="img-responsive center-block" src="{% static 'marketing/img/logo1.png' %}"
                     alt="sign-in-logo"/>
            </a>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">Logged out</div>
                    <div class="panel-body">
                        <h4>Logged out</h4>
                        <p>You have been successfully logged out. You can <a href="{% url 'login' %}">log-in again</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}