{% extends "base-mta.html" %}
{% load staticfiles %}
{% block title %}Reset your password{% endblock %}

{% block content %}

<div id="hideNavBar" class="container reg-padding">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <a href="{% url 'home:index' %}">
                <img class="img-responsive center-block" src="{% static 'marketing/img/logo1.png' %}"
                     alt="sign-in-logo"/>
            </a>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">Password Change Email Sent</div>
                    <div class="panel-body">
                        <h4 class="text-center">Password Reset Email Sent</h4>
                        <p>We've emailed you instructions for setting your password, if an account exists with the email
                            you entered. You should receive them shortly.</p>
                        <p>If you don't receive an email, please make sure you've entered the address you registered
                            with, and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}