{% extends "base-mta.html" %}
{% block title %}Change your password{% endblock %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div id="hideNavBar" class="container reg-padding">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <a href="{% url 'home:index' %}">
                <img class="img-responsive center-block" src="{% static 'marketing/img/logo1.png' %}"
                     alt="sign-in-logo"/>
            </a>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">Change Password</div>
                    <div class="panel-body">
                        <h4>Change your password</h4>
                        <p>Use the form below to change your password.</p>
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <p><input class="btn btn-primary btn-block" type="submit" value="Change"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}