{% extends "base-mta.html" %}
{% load staticfiles %}
{% block title %}Password changed{% endblock %}

{% block content %}

<div id="hideNavBar" class="container reg-padding">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <a href="/">
                <img class="img-responsive center-block" src="{% static 'marketing/img/logo1.png' %}"
                     alt="sign-in-logo"/>
            </a>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">Password Changed</div>
                    <div class="panel-body">
                        <h4>Password changed</h4>
                        <p>Your password has been successfully changed!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}