{% extends "base-mta.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}

{% block content %}

<div id="hideNavBar" class="container reg-padding">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <a href="{% url 'home:index' %}">
                <img class="img-responsive center-block" src="{% static 'marketing/img/logo1.png' %}"
                     alt="sign-in-logo"/>
            </a>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">Reset Password</div>
                    <div class="panel-body">
<!--                        <h5>Forgot Your Password?</h5>-->
<!--                        <p>Enter your e-mail address to obtain a new password.</p>-->
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {{ form|crispy }}

                            <button type="submit" class="btn btn-primary btn-block">
                                 Send Password Link Reset
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}