{% extends "base-dashboard.html" %}
{% load crispy_forms_tags %}
{% block title %}Password Updated{% endblock %}

{% block content %}

<div class="col-md-12">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Password changed successfully!
    </div>
    <h2>Studio Settings</h2>

    {% include "tabs.html" %}

    <div class="card">
        <div class="card-header bg-light">
            Password Updated
        </div>

        <div class="card-body">
            <h4>Password changed successfully</h4>

            <p>Now that your password has been updated let's go teach some music!</p>

        </div>
    </div>
</div>

{% endblock %}