{% extends "base-dashboard.html" %}
{% load crispy_forms_tags %}
{% block title %}Change password{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Studio Settings</h2>
        {% include "tabs.html" %}
        <div class="card">
            <div class="card-header bg-light">Change Password</div>
            <div class="card-body">
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br/>
                    <p><input class="btn btn-primary" type="submit" value="Change Password"></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}