{% extends "base-mta.html" %}
{% load staticfiles %}
{% block title %}Registered{% endblock %}
{% block content %}

<div id="hideNavBar" class="container reg-padding">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="/">
                <img class="img-responsive center-block" src="{% static 'marketing/img/logo1.png' %}" alt="sign-in-logo"/>
            </a>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">Registered</div>
                    <div class="panel-body">
                        <h2>Welcome {{ new_user.first_name }}!</h2>
                        <p>Your account has been successfully created. Now you can
                            <a href="{% url 'login' %}">log in</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}