{% extends "base-mta.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div id="pricing" class="section md-padding">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title"><b>404 ERROR</b></h2>
                <div class="lead">The page you are looking for was not found.</div>
                <a href="{% url 'home' %}" class="btn btn-link">Back to Home</a>
            </div>
            <!-- /Section header -->
        </div>
        <!-- Row -->
    </div>
    <!-- /Container -->
</div>

{% endblock %}