{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - MTA</title>

    <!-- Favicons -->
    <link href="{% static 'marketing/img/favicon-mta.png' %}" rel="icon">
    <link href="{% static 'marketing/img/apple-touch-icon-mta.png' %}" rel="apple-touch-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'cal/css/styles.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'webapp/vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/styles.css' %}">

    <!-- jQuery -->
    <script src="{% static 'webapp/vendor/jquery/jquery.min.js' %}"></script>
    {% load bootstrap4 %}
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <img src="{% static 'webapp/imgs/logo-mta.png' %}" alt="logo">
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>

            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-envelope-open"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                    <!--<img src="{% static 'webapp/imgs/avatar-1.png' %}" class="avatar avatar-sm" alt="logo">-->
                    <span class="small ml-1 d-md-down-none">{{ user.first_name }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-calculator"></i> Account
                    </a>

                    <a href="{% url 'edit' %}" class="dropdown-item">
                        <i class="fa fa-wrench"></i> Settings
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-life-ring"></i> Support
                    </a>

                    <a href="{% url 'logout' %}" class="dropdown-item">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
<!--                    <li class="nav-title">Navigation Menu</li>-->

                    <li class="nav-item">
                        <a href="{% url 'dashboard' %}"
                           class="nav-link {% if request.get_full_path == '/account/' %} active {% else %} {% endif %}">
                            <i class="icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#"
                           class="nav-link nav-dropdown-toggle ">
                            <i class="fa fa-users"></i> Students <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-list" aria-hidden="true"></i> Student List
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Practice Log
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-book" aria-hidden="true"></i> Lending Library
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Repertoire Tracker
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i> Push Announcements
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'cal:calendar' %}"
                           class="nav-link {% if request.get_full_path == '/calendar/' %} active {% else %} {% endif %}">
                            <i class="fa fa-calendar"></i> Calendar
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#"
                           class="nav-link nav-dropdown-toggle">
                            <i class="fa fa-credit-card"></i> Billing <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-pencil"></i> Transaction Log
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-money"></i> Payments Received
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-list-alt"></i> List Payments
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-keyboard-o"></i> Enter a Payments
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-check-square-o"></i> Fees &amp; Credits
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-list-ul"></i> List Fees &amp; Credits
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-plus-square"></i> Change Fee / Issue Credit
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-exchange"></i> Expenses &amp; Other Income
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-envelope"></i> Invoicing
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-car"></i> Mileage Tracker
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#"
                           class="nav-link nav-dropdown-toggle">
                            <i class="fa fa-pie-chart"></i> Reports <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-area-chart"></i> All Reports
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-line-chart"></i> Financial Reports
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-bar-chart"></i> Student Reports
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-calendar-check-o"></i> Calendar Reports
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>


        <div class="content">
            <div class="container-fluid">
                {% bootstrap_messages %}
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{% static 'webapp/vendor/popper.js/popper.min.js' %}"></script>
<script src="{% static 'webapp/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'webapp/vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'webapp/js/carbon.js' %}"></script>
<script src="{% static 'webapp/js/demo.js' %}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146819127-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-146819127-1');




</script>
</body>
</html>
